<div class="main_container_item">
    <div class="item_card">
        <img src="{{album.images.[0].url}}" alt="" class="item_card_image">
        <p class="item_card_name">{{name}}</p>
        <a class="item_card_artist" href="">{{artists.[0].name}}</a>
        
    </div>
    <button class="item_card_pause_button"><h4>| |</h4></button>
</div>
